ProjectXWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.autofagasta.com/" xmlns:tns="http://ws.autofagasta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="checkTag" type="tns:checkTag"/>

  <xs:element name="checkTagResponse" type="tns:checkTagResponse"/>

  <xs:complexType name="checkTag">
    <xs:sequence>
      <xs:element name="tagInfo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkTagResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

